$boldColor: #093119;

.notes{
    background-color: lightgray;
    padding: 20px 0px;
}
b{
    color: $boldColor;
}
.backLink{
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: $boldColor;
    color: #fff;
}